<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <section class="home">
        <div class="intro">
            <h1><span>Welcome</span> to SunFits Wears</h1>
            <p>Sunfit Outfits is an online sports and fitness clothing brand based in Pakistan. They offer a wide range of activewear and equipment to help people stay active and healthy.</p>
            <a href="">Shop Now</a>
        </div>
       <img src="~/images/pngegg.png" />
    </section>
</body>
</html>
